{{/*{{ define "footer" }}*/}}
{{/*    <footer>*/}}
{{/*        <div class="container">*/}}
{{/*            <div class="row">*/}}
{{/*                <div class="col-md-12">*/}}
{{/*                    <p class="copyright">&copy; 2019 E&E Online Electronics Shopping</p>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
{{/*    </footer>*/}}
{{/*    <!-- js -->*/}}
{{/*    <script src="../assets/js/jquery-3.4.1.min.js"></script>*/}}
{{/*    <script src="../assets/js/jquery.cookie.js"></script>*/}}
{{/*    <script type="text/javascript"*/}}
{{/*            src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>*/}}
{{/*    <script src="../assets/js/select.js"></script>*/}}
{{/*    <script src="../assets/js/ratingformat.js"></script>*/}}
{{/*    <script src="../assets/js/bootstrap.min.js"></script>*/}}
{{/*    <script src="../assets/js/decodeJWT.js"></script>*/}}
{{/*    <script src="../assets/js/addcart.js"></script>*/}}
{{/*</body>*/}}
{{/*</html>*/}}
{{/*{{ end }}*/}}