{{/*{{ define "user.update.layout" }}*/}}
{{/*  {{ template "navbar" . }}*/}}
{{/*  {{ template "user.update.content" . }}*/}}
{{/*  {{ template "footer" . }}*/}}
{{/*{{ end }}*/}}

{{/*{{ define "user.update.content"}}*/}}
<html>
<head>
  <style>
    .form-account {
      width: 100%;
      max-width: 500px;
      padding: 15px;
    }

    .form-account .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      margin: 10px;
    }
  </style>
  <link rel="stylesheet" href="../assets/css/registr.css"/>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css"/>
</head>
<body>
 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 style="align-content: center">Edit Account</h2>
    </div>
    <form class="form-account" method="POST" action="/user/update">
      <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
      <input class="form-control" type='hidden' name='userid' value='{{ .Values.Get "userid" }}' />
      <div class="col-auto">
        <label for='name' class='col-form-label'>Full Name</label>
        {{with .VErrors.Get "name"}}
          <label class="text-danger">{{.}}</label>
        {{end}}
        <input type='text' class='form-control' name='name' id='name' value='{{ .Values.Get "name" }}'
               required autofocus placeholder='Full Name'>
      </div>
      <div class="col-auto">
        <label for='email' class='col-form-label'>Email</label>
        {{with .VErrors.Get "email"}}
          <label class="text-danger">{{.}}</label>
        {{end}}
        <input type='email' class='form-control' name='email' id='email' value='{{ .Values.Get "email" }}' required
               placeholder='Email Address'>
      </div>
      <div class="col-auto">
        <label for='phone' class='col-form-label'>Phone</label>
        {{with .VErrors.Get "phone"}}
          <label class="text-danger">{{.}}</label>
        {{end}}
        <input type='text' class='form-control' name='phone' id='phone' value='{{ .Values.Get "phone" }}' required
               placeholder='Phone Number'>
      </div>
      <button type='submit' class='btn btn-primary float-right'>Update Account</button>
    </form>
  </main>
</body>
</html>


{{/*{{ define "user.update.layout" }}*/}}
{{/*  {{ template "user.navbar" . }}*/}}
{{/*  {{ template "user.update.content" . }}*/}}
{{/*  {{ template "user.footer" . }}*/}}
{{/*{{ end }}*/}}

{{/*{{ define "user.update.content"}}*/}}
{{/*  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">*/}}
{{/*    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">*/}}
{{/*      <h2>Update Account</h2>*/}}
{{/*    </div>*/}}
{{/*    <div class="container">*/}}
{{/*      <form method="POST" action="/user/update" enctype="multipart/form-data">*/}}
{{/*        <input type="hidden" name="id" value="{{ .ID }}" />*/}}
{{/*        <div class="form-group row">*/}}
{{/*          <label for="name" class="col-sm-2 col-form-label">Name</label>*/}}
{{/*          <div class="col-sm-10">*/}}
{{/*            <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{{ if .Name }} {{ .Name }} {{ end }}">*/}}
{{/*          </div>*/}}
{{/*        </div>*/}}
{{/*        <div class="form-group row">*/}}
{{/*          <label for="email" class="col-sm-2 col-form-label">Email</label>*/}}
{{/*          <div class="col-sm-10">*/}}
{{/*            <textarea class="form-control" name="email" id="email">{{ if .Email }} {{ .Email }} {{ end }}</textarea>*/}}
{{/*          </div>*/}}
{{/*        </div>*/}}
{{/*        <div class="form-group row">*/}}
{{/*          <label for="phone" class="col-sm-2 col-form-label">Phone</label>*/}}
{{/*          <div class="col-sm-10">*/}}
{{/*            <textarea class="form-control" name="phone" id="phone">{{ if .Phone }} {{ .Phone }} {{ end }}</textarea>*/}}
{{/*          </div>*/}}
{{/*        </div>*/}}
{{/*        <div class="form-group row">*/}}
{{/*          <div class="col-sm-10">*/}}
{{/*            <button type="submit" class="btn btn-primary float-right">Update Account</button>*/}}
{{/*          </div>*/}}
{{/*        </div>*/}}
{{/*      </form>*/}}
{{/*    </div>*/}}
{{/*  </main>*/}}
{{/*{{ end }}*/}}