{{ define "user.index.layout" }}
{{ template "user.navbar" . }}
{{ template "user.index.content" . }}
{{ template "user.footer" . }}
{{ end }}

{{ define "user.index.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Home</h2>
        <form method="POST" action="/logout" class="form-inline mt-2 mt-md-0">
            <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
            <input type="submit" value="LogOut">
        </form>
    </div>
</main>
{{ end }}