<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.User.Name}}</title>
</head>
<body>
    <h2>Hello {{ .User.Name }}</h2>
    <a href="/user/update?id={{.User.ID}}"><button>Edit Account</button></a>
    <a href="/user/delete?id={{.User.ID}}"><button>Delete Account</button></a>
    <form method="POST" action="/logout" class="form-inline mt-2 mt-md-0">
        <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
        <input type="submit" value="LogOut">
    </form>
</body>
</html>