{{ define "user.navbar" }}
    <!doctype html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- css -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/dashboard.css">

    </head>

    <body>
    <nav class="navbar navbar-light fixed-top flex-md-nowrap p-0" style="background-color: #e3f2fd;">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">3Y Restaurant</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/user">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/update">
                                <span data-feather="update"></span>
                                Update Account
                            </a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="logout"></span>
                                Log Out
                            </a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link" href="/user/delete">
                                <span data-feather="delete"></span>
                                Delete Account
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/changepass">
                                <span data-feather="changepass"></span>
                                Change Password
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
{{ end }}